{% extends 'base.html' %}
{% load static %}

{% block title %}{{ titulo }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/crear_complejo.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2><i class="fa-solid fa-file-invoice-dollar"></i> {{ titulo }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-submit">Actualizar Plan</button>
    </form>
    <a href="{% url 'lista_planes_cuota' %}" class="back-link">Cancelar y Volver a la Lista</a>
</div>
{% endblock %}
