<div class="sidebar">
    <h2><i class="fa-solid fa-house-user"></i> Panel Residente</h2>
    <a href="{% url 'dashboard' %}"><i class="fa-solid fa-table-columns"></i> Dashboard</a>
    <a href="{% url 'crear_reserva' %}"><i class="fa-solid fa-calendar-plus"></i> Reservar Amenidad</a>
    <a href="{% url 'mis_reservas' %}"><i class="fa-solid fa-calendar-check"></i> Mis Reservas</a>
    <a href="{% url 'mis_preautorizaciones' %}"><i class="fa-solid fa-id-card-clip"></i> Pre-Autorizaciones</a>
    <a href="{% url 'avisos:lista_avisos' %}"><i class="fa-solid fa-bullhorn"></i> Ver Avisos</a>
</div>