{% extends 'base.html' %}

{% block content %}
    <h2>Detalles de: {{ comunidad.nombre }}</h2>
    <p><strong>Dirección:</strong> {{ comunidad.direccion }}</p>
    
    <hr>

    <h3>Propiedades en esta Comunidad</h3>
    
    {# Aquí irá el botón para añadir una nueva propiedad #}

    {% for propiedad in propiedades %}
        <p>
            <strong>{{ propiedad.numero_identificador }}</strong>
            - Tipo: {{ propiedad.get_tipo_contrato_display }}
            - Residente: {{ propiedad.residente_actual.username|default:"Sin asignar" }}
        </p>
    {% empty %}
        <p>No hay propiedades registradas para esta comunidad todavía.</p>
    {% endfor %}

    <br>
    <hr>
    <a href="{% url 'lista_comunidades' %}">← Volver a la lista de Comunidades</a>
{% endblock %}