{% extends 'base.html' %}

{% block content %}
    <h1>Gestión de Comunidades 🏠</h1>
    
    {# Aquí irá el botón de crear... #}
    <hr>
    <h3>Comunidades Registradas</h3>

    {% if comunidades %}
        <ul>
            {% for comunidad in comunidades %}
                {# CONVERTIMOS EL TEXTO EN UN ENLACE #}
                <li>
                    <a href="{% url 'detalle_comunidad' comunidad.id %}">{{ comunidad.nombre }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aún no hay comunidades registradas en el sistema.</p>
    {% endif %}
    
    <br>
    <a href="{% url 'dashboard' %}">Volver al Dashboard</a>
{% endblock %}