{% extends 'base.html' %}

{% block content %}
    <h1>Crear un Nuevo Usuario</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Crear Usuario</button>
    </form>
    <br>
    <a href="{% url 'dashboard' %}">Volver al Dashboard</a>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const rolField = document.getElementById('id_rol');
            const complejoField = document.getElementById('id_complejo_asignado').parentNode;

            function toggleComplejoField() {
                if (rolField.value === 'GUARDIA') {
                    complejoField.style.display = 'block';
                } else {
                    complejoField.style.display = 'none';
                }
            }

            toggleComplejoField();
            rolField.addEventListener('change', toggleComplejoField);
        });
    </script>
{% endblock %}