{% extends 'base.html' %}

{% block content %}
    <h1>Crear un Nuevo Usuario</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Crear Usuario</button>
    </form>
    <br>
    <a href="{% url 'dashboard' %}">Volver al Dashboard</a>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const rolField = document.getElementById('id_rol');
            const complejoSelect = document.getElementById('id_complejo_asignado');
            const complejoFieldContainer = complejoSelect.parentNode; // The <p> tag containing the select

            function toggleComplejoField() {
                if (rolField.value === 'GUARDIA') {
                    complejoFieldContainer.style.display = 'block';
                    complejoSelect.removeAttribute('disabled'); // Enable the select
                } else {
                    complejoFieldContainer.style.display = 'none';
                    complejoSelect.setAttribute('disabled', 'disabled'); // Disable the select
                }
            }

            toggleComplejoField();
            rolField.addEventListener('change', toggleComplejoField);
        });
    </script>
{% endblock %}