{% extends 'base_dashboard.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/visitas_form.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="user-form-container">
    <h1 class="text-center">Registrar Nuevo Visitante</h1>
    <form method="post" enctype="multipart/form-data" class="user-form">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
            <div class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </div>
        {% endif %}

        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small style="display: block; margin-top: 5px; color: #6c757d;">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="errorlist">
                        <li>{{ error }}</li>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit" class="btn-submit">Guardar Visitante</button>
    </form>
    <div class="text-center mt-3">
        <a href="{% url 'lista_visitantes' %}" class="back-link">← Volver a la Lista</a>
    </div>
</div>
{% endblock %}